*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height: 100vh;
    color:black;
    font-size: 5rem;
}
#wrapper{
    border:1rem solid  #fff;;
    padding:1rem;
    /*box-shadow: 2rem 2rem 4rem  rgb(57, 11, 141);*/
    transform: .3s ease;

}
#wrapper:hover{
    transform:scale(1.2);
    box-shadow: 2rem 2rem 6rem  rgb(57, 11, 141);
}
@media(max-width:560px){
    .container{
        display:block;
    }
}